@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');

/*font-famil@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Yanone+Kaffeesatz:wght@200&display=swap');

/*font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Open Sans', sans-serif; */

*{
    box-sizing: border-box;
}

body {
    margin: 0em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}


.header{
    height: 60px;
    background: black;
}

.conteudo{
    margin: auto;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.logo, .icon-menu{
    margin: 5px;
    color: #FFF;
}

.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: FBA919;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer; 
    background: blue;
}